* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 100px;
    background-color: indianred;
}

.header h3{
    color: white;
    display: inline-block;
    margin-top: 38px;
    text-shadow: 0px 2px 2px #000000;
}

.header h4{
    color: white;
    display: inline-block;
    position: absolute;
    right: 0;
    margin-top: 38px;
    text-shadow: 0px 2px 2px #000000;
}

.body{
    padding: 20px;
}

.body .title{
    height: 40px;
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item{
    margin-right: 20px;
}

.item .item__header{
    height: 200px;
    text-align: center;
}

.item .item__header img{
    height: 100%;
}

.item .item__content{
    
}

.item .item__content h5{
    margin-top: 10px;
}

.item .item__content span{
    display: inline-block;
    margin-top: 10px;
}

.item .item__content p{
    margin-top: 10px;
}

.item .item__content button{
    margin-top: 10px;
    width: 100%;
    background-color: #00C1AA;
    color: white;
    height: 35px;
}

.btn-agregar{
    cursor: pointer;
}

.page__agregar{
    width: 500px;
    margin: 0 auto;
}

.page__agregar .inputs{
    display: flex;
    height: 40px;
    margin-top: 20px;
}

.inputs input{
    flex-grow: 1;
}

.inputs input:first-child{
    margin-right: 20px;
}

.page__agregar textarea{
    margin-top: 20px;
    width: 100%;
}

.page__agregar .buttons{
    width: 300px;
    margin: 20px auto 0 auto;
    display: flex;
    height: 40px;
}

.page__agregar .buttons button{
    flex-grow: 1;
    cursor: pointer;
}

.page__agregar .buttons button:first-child{
    margin-right: 20px;
    background-color: #FF5252;
    color: white;
}
