<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">

</head>
<body>
    <main id="app" class="main">
        <!-- Header -->
        <div class="header">
            <h3>VIDEO TV</h3>
            <h4 v-on:click="agregar()" class="btn-agregar">Agregar Video</h4>
        </div>
        
        <div class="body">
            <!-- Listar Videos -->
            <div v-if="currentPage == 'listar'">
                <listar :videos2="videos"></listar>
            </div>

            <!-- Agregar Video -->
            <div v-if="currentPage == 'agregar'" class="page__agregar">
                <agregar v-on:value="addVideo"></agregar>
            </div>
        </div>
        
    </main>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js"></script>
</body>
</html>